<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
</head>
<body>
<div class="container marginTop centered">
    <h1 style="font-weight: bold; text-align: center"> Your cart </h1>
    <table id="items" class="table table-hover marginTop" style="text-align:center; vertical-align: center;">
        <thead style="background-color: darkcyan">
        <tr>
            <th>Id</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Image</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        </thead>
        <tr th:if="${items?.size() == 0}">
            <h2 class="m-5 centered"><span class="badge badge-secondary" style="background-color: darkcyan">No items added yet!</span></h2>
        </tr>

        <tbody th:if="${items?.size() != 0}">
        <tr th:each="item, stat : ${items}" th:id="${item.decorationId}" class="table-light">
            <td th:text="${item.decorationId}"></td>

            <td>
                <input name="quantity" th:id="${item.decorationId}" style="width:3rem;" class="quantity" type="number"
                       min="1" th:value="${item.quantity}"/>
            </td>


            <td th:text="${item.price}"></td>

            <td>
                <a th:href="@{'/decorations/' + ${item.decorationId}}">
                    <img th:src="@{'/decorations/getImage/' + ${item.decorationId}}" style="width:4rem;height:auto;">
                </a>
            </td>

            <td th:text="${item.price * item.quantity}"></td>

            <td>
                <form method="post" th:action="'/cart/delete?decorationId=' + ${item.decorationId}">
                    <button type="submit" class="btn btn-info" style="background-color: darkcyan">DELETE</button>
                </form>
                <form method="post" th:action="'/cart/update?decorationId=' + ${item.decorationId} + '&qty='+${item.quantity}">
                    <button type="submit" class="btn btn-primary" style="background-color: darkcyan; margin-left: 5px" onclick="updateCartQuantities()" th:onclick="|updateCartQuantities()|">UPDATE</button>
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td id="totalAmount" colspan="3" style="float:right; font-weight: bold" th:text="'Total amount: ' + ${cart?.totalAmount} ">
            </td>
        </tr>
        </tfoot>
    </table>

    <br/>
    <br/>

    <a class="btn btn-primary" style="background-color: darkcyan; float: right" th:href="@{'/decorations'}">Continue shopping</a>

    <form th:if="${items?.size() != 0}" method="post" action="/cart/checkout">
        <div class="form-group">
            <label for="account">Payment account: </label>
            <a th:if="${bankAccounts?.size() == 0}" href="/bankAccounts/new">Add a bank account before checkout </a>
            <select th:if="${bankAccounts?.size() != 0}" id="account" class="custom-select" name="cardNumber">
                <option
                        th:each="bankAccount, stat : ${bankAccounts}" th:id="${bankAccount.cardNumber}"
                        th:if="${bankAccount.balance >= cart.totalAmount}"
                        th:value="${bankAccount.cardNumber}" th:text="${bankAccount.cardNumber}">
                </option>
                <option
                        th:each="bankAccount, stat : ${bankAccounts}" th:id="${bankAccount.cardNumber}"
                        th:if="${bankAccount.balance < cart.totalAmount}" disabled
                        th:value="${bankAccount.cardNumber}" th:text="${bankAccount.cardNumber}">
                </option>
            </select>
            <br/>
            <p>In case you cannot select an account, it means it does not have enough funds available or you do not have an
                account added yet.</p>
        </div>
        <button th:if="${bankAccounts?.size() != 0}" type="submit" class="btn btn-dark" style="background-color: darkcyan">Checkout</button>

    </form>

</div>
</body>
</html>