<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update customer info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<body>
<form th:object="${customer}" th:action="@{/customers/update}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{customerId}"/>
    <input type="hidden" th:field="*{username}"/>

    <div class="container" style="padding-bottom: 20px">
        <div class="panel panel-info">
            <div class="panel-info" style="background-color:darkcyan; border-radius: 10px">
                <h1 class="panel-title" style="color: aliceblue;">Customer update Info</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Username:</label>
                        <p th:text="${customer.username}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" th:field="*{email}" th:placeholder="${customer.email}"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>First name:</label>
                        <input type="text" class="form-control" th:field="*{firstName}" th:placeholder="${customer.firstName}"/>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Last name:</label>
                    <input type="text" class="form-control" th:field="*{lastName}" th:placeholder="${customer.lastName}"/>
                </div>
            </div>

        <div class="row">
            <div class="col-md-3 form-group">
                <label>Password:</label>
                <input type="password" class="form-control" th:field="*{password}"/>
            </div>
        </div>

            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Address:</label>
                    <input type="text" class="form-control" th:field="*{address}" th:placeholder="${customer.address}"/>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="col-md-7 ml-md-auto">
                    <button type="submit" class="btn btn-primary" style="background-color: darkcyan">Submit</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
</body>
</html>